@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*----------------------------------universal--------------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed",sans-serif;
}
:root{
    --lead:#212121;
    --gold-finger:#f2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;
}
body{
    background-color: #FFFDF7;
}
a{
    font-size:20px;
    text-decoration: none;
    color:#212121;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap:2rem;
}
.gap-3{
    gap:3rem;

}
li{
    list-style: none;
}
.wrapper{
    padding-inline: 20px;
    margin: 20px;
    max-width: 1400px;
}
.mobile-dashbord{
    display: none;
}
img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.p-top{
    padding-top:10rem;
}
.text-center{
    text-align: center;
}
.mt-4{
    margin-top: 4rem;
}
.m-auto{
    margin: auto;
}
.mt-2{
    margin-top: 1.5rem;
}

/*--------------------------------------------------section Service-----------------------------------------------------------*/

h5{
    font-size:1.2rem;
    letter-spacing: .2rem;
    color:#f2BD12;
    text-transform: uppercase;
}
h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}
h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: #212121;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    

}


/* ----------------------------------------Header---------------------------------------------------*/
.navbar{
    min-width: 14vh;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #f2BD12;
}
.btn{
    display: inline-block;
    padding: 10px;
    background-color: #f2BD12;
    border-radius: 10px;
    font-size:20px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.645) 0 2px 1px;
    transition: .3sn ease-in-out;

}
.btn:hover{
    background-color: #212121;
}
.cart-icon{
    font-size:20px;
    position: relative;
}
.cart-icon .cart-value{
    position:absolute;
    top:50%;
    right: -10px;
    font-size:.85rem;
    width:20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: #f2BD12;
    color: #212121;
    text-align: center;
    align-items: center;
    font-weight: bold;

}

.desktop-action .hamburger{
    font-size: 1.5rem;
    display: none;

}
/* ----------------------------------------section Hero---------------------------------------------*/

.hero-section{
    min-height: 100vh;
}
.content,
.image-container,
.service-card{
    flex: 1;
    flex-basis: 300px;
}
h1{
    font-size: 3rem;
    color: #212121;
}
h1 span{
    color:#f2BD12;
}
p{
    font-size:1.4rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
}
.para{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icon{
    background-color:#FCF1CC;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.645) 0 2px 1px;
    transition: .3s ease-in-out;
}
.social-icon:hover{
    background-color: #212121;
    color: var(--pure-white);

}
/*--------------------------------------------------section 02-----------------------------------------------------------*/
.order-card img{
    width:15rem;
    filter: drop-shadow(
        rgba(0, 0, 0, 0.693) 0 10px 10px
    );
}
.order-card{
    flex:1;
    flex-basis: 300px;
    padding: 0 1rem 2rem 1rem;
    background-color:#FFF ;
    border:5px solid #f2BD12 ;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.014) 8px 8px 8px,
        rgba(0, 0, 0, 0.014) 8px 8px 8px inset;
}
h4{
    color: #212121;
    font-size: 1.8rem;
}
.order-card .price{
    font-size: 1.7rem;
    color:#f2BD12;
    padding: 1.3rem 0 2rem 0;
}
/* -------------------------------------------cart tab styling ----------------------------*/
.cart-tab{
    background-color: #FCF1CC;
    position:fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.399) -10px -10px 20px;
    transition: .3s ease-in-out;

}
.cart-tab-active{
    inset: 0 0 0 auto;
}
.cart-list{
    flex:1;
    width:100%;
    margin-top: 2rem;
    overflow: auto;
}
.cart-list::-webkit-scrollbar{
    width:0;
}
.total-container{
    width:100%;
    background-color: #f2BD12;
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}
.total-container h4{
    display: inline-block;
    font-size:1.3rem;
    font-weight: 400;

}
.btn-container .btn{
    background-color: var(--lead);
    transition: .3s ease-in-out;
}
.btn-container .btn:hover{
    background-color: #f2BD12;
    color: #212121;
}
.cart-list .item:nth-child(even){
    background :var(--eye-ball);
}
.item{
    display: flex;
    align-items: center;
    gap:1rem;
    padding: .7rem 1rem;
    transition: all .5s ease-in-out;
}
.item.slide-out{
    transform: translateX(50%);
}
.item .detail{
    flex:2;
}
.item .item-image img{
    width: 5rem;
}
.item h4{
    font-size:1.3rem;

}
.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}
.quantity-btn{
    background-color: #212121;
    color:var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    line-height: 1.7rem;

}
.quantity-value{
    font-size:1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}

/*--------------------------------------------------section 03-----------------------------------------------------------*/
.swiper{
      width: 100%;
      height: 100%;
}
.review-container{
    width: 650px;
    max-width: 100%;
    flex:1;
}

.profile{
    width:4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;

}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-star{
    color: #f2BD12;
    
}
.margin-half{
    margin-top: .5rem;
}
.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color:#f2BD12;
    text-align: center;
    line-height: 2.5rem;
}
/*--------------------------------------------------section App -----------------------------------------------------------*/
.app-container{
    background-color: #FCF1CC;
    padding: 3rem 6rem;
    border-radius: 3rem;
}
.app-container .image-container img{
    width: 25rem;
}
.app-container h2{
    font-size: 3rem;
}



/*------------------------------------------------------section 05--------------------*/
.input-container{
    max-width:100%;
    width: 43rem;
    background-color:white;
    padding: .8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 8px;
    border-radius: 1rem;
    margin: 4rem auto 0 auto;


}
input[type="email"]{
    flex:1;
    height: 5vh;
    border:none;
    padding-left: 1rem;
    background-color: transparent;
}
input[type="email"]:focus{
    outline: none;
}



/*----------------------------------------Footer-----------------------------------------*/
.footer-container{
    margin-top: 10rem;
    padding-block: 4rem ;
    background-color: #FCF1CC;
}
.footer-container .flex{
    align-items: flex-start;
}
.footer-wrapper{
    flex:1;
    flex-basis: 150px;
}
.footer-wrapper:nth-child(1){
    flex: 2;
    flex-basis: 300px;
}
.footer-wrapper .social-icon{
    background-color: var(--pure-white);
}
.footer-wrapper .social-icon:hover{
    background: var(--lead);
}
.footer-link{
    color: gray;
    font-size:1.1rem;
    transition: .3s ease-in-out;

}
.footer-link:hover{
    color: var(--lead);
}


/* ----------------------------------------Media Query----------------------------------------------*/
@media screen and (max-width: 780px){
    /*-----------------------------Header-----------------------*/
    .navlist,.desktop-action .btn{
        display: none;
    }
    .desktop-action .hamburger{
        display:block;
    }
    .mobile-dashbord{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position:absolute;
        top:20%;
        left:-100%;
        transform: translate(-50%);
        width: 20rem;
        padding: 2rem;
        background-color: #FFF;
        border:5px solid #f2BD12 ;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.014) 8px 8px 8px,
         rgba(0, 0, 0, 0.014) 8px 8px 8px inset;
         transition:all .5s ease-in-out;

    }
    .mobile-menu-active{
    left: 50%;
    transform: translate(-50%);
    }

    /*--------------------------Section media query----------------------*/
    h1{
        font-size: 3.6rem;

    }
    .content{
        padding-top: 3rem;

    }
    .gap-2{
        gap: 1.4rem;
    }
    .gap-4{
        gap: 4rem;
    }
    h2{
        font-size: 2rem;
    }

    /* ---------------------------------section app---------------------------*/
    .app-container{
        padding: 2.2rem;

    }
    .app-container .content h2{
        font-size:2.5rem
    }
}
